*{
  font-family: 'Arial';
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.header {
  height: 5rem;
  border: 1px solid #000000;
}
/* Title */
.header h3 {
  margin-left: 1.5rem;
  padding-top: 1rem;
  font-size: 1.5rem;
}
/* Analyze */
.header p {
  margin-left: 1.5rem;
  font-size: 18px;
}
/* Close Button */
.header .close {
  cursor: pointer;
  float: right;
  position: relative;
  font-size: 3rem;
  bottom: 4.4rem;
  width: 4rem;
  text-align: center;
  height: 5.3rem;
  border: 1px solid #000000;
}
/* CLOSE */
.header .close .cls {
  position: relative;
  bottom: 0.9rem;
  font-size: 0.8rem;
  margin-left: 0.03rem;
}

/* Main Container */
.container {
  margin-left: 4%;
}
/* Check Your Knoweldge div */
.info {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}
/* Underline on check */
.dash {
  width: 1rem;
  height: 0.2rem;
  background-color: rgb(41, 153, 231);
}
/* Match the relevant area... */
.container .head-title {
  margin-top: 1rem;
  font-size: 1rem;
}
/* When done click submit headinfo... */
.container .head-info {
  margin-top: 0.6rem;
  font-size: 1rem;
  color: rgb(41, 153, 231);
}

.question {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  height: 2.2rem;
  width: 100%;
  /* flex-wrap: nowrap; */
}

/* Sr no bg-coloraa */
.question .srno {
  color: #43A5E9;

  background-color: #E9EFF3;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  font-weight: bold;
}
/* Empty Box to drop a */
.question .ans-box {
  border: 2px dotted #d3d3d3;
  border-radius: 0.2rem;
  background-color: #fff;
  height: 30%;
  width: 10%;
}
/*  Draggable Answer Box  */
.question .ans-opt {
  border: 2px solid #666;
  width: 10%;
  height: 30%;
  background-color: #fff;
  margin-left: 6rem;
  text-align: center;
  border-radius: 0.2rem;
  cursor: pointer;
}

/* Reduce the opacity of the ans box when hover */
.ans-opt:hover {
  opacity: 0.5;
}

/* When ans box is dragged make the box blank*/
.ans-opt.dragged {
  user-select: none;
  opacity: 0.1;
  cursor: default;
  border: 3px dotted #666;
}

.ans-opt.dragged:hover {
  opacity: 0.1;
}

.ans-box.dropped {
  border: 2px solid #666;
  border-radius: 0.5em;
  width: 10%;
  height: 30%;
  text-align: center;
}

.ans-box.ans-box-hover {
  /* border-width: 5px; */
  border-color: green;
  /* transform: scale(1.1); */
}

.question .ques {
  min-width: 50%;
}
/* Question div */
.question > div {
  margin-top: 4rem;
  background-color: rgb(243, 243, 243);
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
}
/* All button */
.footer {
  margin-top: 2rem;
}

.footer > img {
  width: auto;
  height: 2.7rem;
}

.btn-submit {
  float: right;
  margin-right: 9rem;
}

.btn-show-me {
  margin-left: 1rem;
}

.btn-reset {
  margin-left: 4rem;
}

.btn {
  cursor: pointer;
}

.hidden {
  display: none;
}

.mark {
  position: absolute;
  margin-left: -6.5rem;
}
